apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nodedemo-dev
nameSuffix: -dev
resources:
- ../../bases/nodedemo
- namespace.yaml
transformers:
- labels.yaml
replicas:
- count: 1
  name: nodedemo
images:
- name: ghcr.io/kfirdado/nodedemo
  newTag: 0.0.1
